public/workflows/10559_Automated_Candidate_Screening___Response_using_GPT-4__Mistral_OCR_and_Slack_Notifications.json
{
  "id": "bmfCyhtnBIbqeYsl",
  "meta": {
    "name": "Automated Candidate Screening & Response using GPT-4, Mistral OCR and Slack Notifications",
    "id": 10559
  },
  "name": "Automate Candidate Screening and Communication from Gmail to Google Sheets with GPT-4 and Slack",
  "tags": [],
  "nodes": [
    {
      "id": "e988d1d0-19bd-4823-8772-203a5d6ee76d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        400
      ],
      "parameters": {
        "color": 2,
        "width": 1440,
        "height": 560,
        "content": "## Resume Extraction\nFetches new candidate emails and checks for attachments.  \nIf a resume is attached, uploads it to Mistral OCR, retrieves a signed URL, extracts text, and stores it as structured resume data for the next steps.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "33a898fc-8958-4428-85f0-9ea706f5c062",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1936,
        80
      ],
      "parameters": {
        "color": 2,
        "height": 1056,
        "content": "## Communication & Logging \n\nLogs all candidate data, AI score, and decision to Google Sheets.  \nShortlisted candidates receive an email and Slack notification is sent to HR.  \nRejected candidates receive a professional rejection email automatically.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "eec9f7fd-4f4c-4fbf-a51f-6efdee97cdc9",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1472,
        464
      ],
      "parameters": {
        "color": 2,
        "width": 432,
        "height": 336,
        "content": "## Scoring & Routing \n\n\nMaps the AI’s structured results into consistent fields.  \nChecks if the candidate should be shortlisted (Score ≥75 or recommendation = “Shortlist”) and routes accordingly.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "c6bc1f9c-81a8-40a8-a305-32595e37c9b9",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        304
      ],
      "parameters": {
        "color": 2,
        "width": 480,
        "height": 688,
        "content": "## AI Candidate Evaluation \n\n\nSends the combined candidate data to GPT-4 for evaluation.  \nThe AI compares profile skills and experience against the HR requirement sheet, generates a fit summary, score, and recommendation.  \nOutput is parsed into structured JSON.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "dc0d80d6-554a-4092-8e7c-ab50ff05972e",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        320
      ],
      "parameters": {
        "color": 2,
        "height": 640,
        "content": "## Email Parsing & Merge \n\n\n\nExtracts sender details, subject, and message body from the candidate’s email.  \nMerges the parsed data with the OCR-extracted resume text to create a single structured input for AI screening.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "5a26f8f1-1153-48e0-899d-298113a8d49c",
      "name": "Send Rejection Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2000,
        752
      ],
      "webhookId": "c308722e-6ad1-4a91-ac98-1c42a46351c9",
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.8;\n            color: #333333;\n            max-width: 650px;\n            margin: 0 auto;\n            padding: 20px;\n        }\n        .letterhead {\n            border-bottom: 3px solid #2c3e50;\n            padding-bottom: 15px;\n            margin-bottom: 30px;\n        }\n        .company-name {\n            font-size: 20px;\n            font-weight: bold;\n            color: #2c3e50;\n        }\n        .content {\n            margin: 30px 0;\n        }\n        .suggestion-box {\n            background-color: #f8f9fa;\n            border-left: 4px solid #5a9fd4;\n            padding: 20px;\n            margin: 25px 0;\n        }\n        .suggestion-box h4 {\n            margin-top: 0;\n            color: #2c3e50;\n        }\n        .skills-list {\n            margin: 15px 0;\n            padding-left: 20px;\n        }\n        .skills-list li {\n            margin: 8px 0;\n            color: #555;\n        }\n        .signature {\n            margin-top: 40px;\n        }\n        .footer {\n            margin-top: 50px;\n            padding-top: 20px;\n            border-top: 1px solid #e0e0e0;\n            font-size: 11px;\n            color: #666;\n            text-align: center;\n        }\n        .highlight {\n            background-color: #fff3cd;\n            padding: 15px;\n            border-radius: 5px;\n            margin: 20px 0;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"letterhead\">\n        <div class=\"company-name\">[COMPANY NAME]</div>\n        <div style=\"color: #666; font-size: 12px;\">Talent Acquisition Department</div>\n    </div>\n    \n    <div class=\"content\">\n        <p><strong>Date:</strong> {{ $now.format('MMMM dd, yyyy') }}</p>\n        \n        <p style=\"margin-top: 30px;\">Dear <strong>{{ $json[\"Candidate Name\"] }}</strong>,</p>\n        \n        <p>Thank you for your interest in the <strong>{{ $json[\"Applied Role\"] }}</strong> position at [COMPANY NAME] and for taking the time to complete your application and share your professional background with us.</p>\n        \n        <p>We genuinely appreciate the effort you invested in the application process. Our recruitment team has carefully reviewed all applications, and we received an overwhelming response from highly qualified candidates.</p>\n        \n        <p><strong>After thorough consideration, we regret to inform you that we have decided to move forward with other candidates whose qualifications and experience more closely align with our current requirements for this specific role.</strong></p>\n        \n        <p>This decision was not easy, as we recognize the valuable skills and experience you bring to the table. We want to assure you that this outcome does not diminish your professional qualifications or potential.</p>\n        \n      \n        <div class=\"highlight\">\n            <p style=\"margin: 0;\"><strong>💡 We Value Your Interest:</strong></p>\n            <p style=\"margin: 10px 0 0 0;\">Your resume and application details will remain in our candidate database for <strong>12 months</strong>. We encourage you to monitor our careers page and apply for future openings that align with your skills and career aspirations.</p>\n        </div>\n        \n        <p><strong>Stay Connected:</strong></p>\n        <ul style=\"line-height: 2;\">\n            <li>Follow us on LinkedIn for job updates: [LINKEDIN_URL]</li>\n            <li>Visit our careers portal: [CAREERS_URL]</li>\n            <li>Subscribe to job alerts for roles matching your profile</li>\n        </ul>\n        \n        <p>We sincerely appreciate your time and interest in [COMPANY NAME]. We wish you every success in your job search and hope our paths may cross again in the future.</p>\n        \n        <p>Should you have any questions, please feel free to reach out to us at <strong>[HR_EMAIL]</strong>.</p>\n        \n        <div class=\"signature\">\n            <p>With warm regards,</p>\n            <p style=\"margin: 5px 0;\"><strong>[HR MANAGER NAME]</strong><br>\n            [Designation]<br>\n            Talent Acquisition Department<br>\n            [COMPANY NAME]</p>\n            <p style=\"margin-top: 15px; font-size: 13px;\">\n            <strong>Email:</strong> [HR_EMAIL]<br>\n            <strong>Phone:</strong> [HR_PHONE]<br>\n            <strong>Website:</strong> [COMPANY_WEBSITE]\n            </p>\n        </div>\n    </div>\n    \n    <div class=\"footer\">\n        <p>This is an official communication from [COMPANY NAME].</p>\n        <p><strong>Confidentiality Notice:</strong> This email and any attachments are confidential and intended solely for the addressee.</p>\n    </div>\n</body>\n</html>",
        "options": {},
        "subject": "Update on Your Job Application"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "gEIaWCTvGfYjMSb3",
          "name": "Gmail credentials"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "3bb24394-9707-4e48-bded-32a3bfc957b6",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        -320
      ],
      "parameters": {
        "width": 544,
        "height": 688,
        "content": "## 📋 AI-Powered Candidate Screening & Communication\n\n### How it works\nThis workflow automatically screens new job applicants and handles communication with them.  \nWhen a new email arrives in your recruitment inbox, it extracts resume data using OCR, merges it with the email content, and sends both to GPT-4.  \nThe AI evaluates the candidate’s experience, skills, and role fit by comparing their profile against job requirements in your Google Sheet.  \nBased on the analysis, it assigns a score and a recommendation (Shortlist or Reject).  \nIf shortlisted, the candidate receives a personalized email and the HR team gets a Slack alert.  \nAll candidate evaluations are logged in Google Sheets for tracking and reporting.\n\n### Setup steps\n1. Connect Gmail, Google Sheets, OpenAI, Slack, and Mistral OCR credentials.  \n2. Create a Google Sheet named **“HR Requirement”** listing job roles, required skills, and minimum experience.  \n3. Create another Sheet named **“Candidate Screening Log”** for storing AI evaluations.  \n4. Add environment variables for Sheet ID, Slack Channel ID, and Gmail Label if applicable.  \n5. Customize the email templates (shortlist/rejection) with your company info.  \n6. Test with one applicant email before enabling auto-run.  \n7. Schedule the Gmail trigger to check inbox every 5–10 minutes.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "5ee873c4-0136-47d7-99dd-4f0acb2b22bb",
      "name": "Trigger: New Candidate Email (Gmail)",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        -608,
        656
      ],
      "parameters": {
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "readStatus": "unread",
          "includeSpamTrash": false
        },
        "options": {
          "downloadAttachments": true
        },
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "gEIaWCTvGfYjMSb3",
          "name": "Gmail credentials"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "59a7d87b-33ef-4b9e-92ad-24ca63196e63",
      "name": "Check for Resume Attachment",
      "type": "n8n-nodes-base.if",
      "position": [
        -384,
        560
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cf83234e-fb1b-4715-bc8b-2bf3bc9e7195",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{$binary}}",
              "rightValue": 0
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "e0ea026b-6d69-4ee0-8873-30744513d173",
      "name": "Upload Resume (Mistral OCR)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -160,
        560
      ],
      "parameters": {
        "url": "https://api.mistral.ai/v1/files",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "contentType": "multipart-form-data",
        "authentication": "genericCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "name": "=file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "=attachment_0"
            }
          ]
        },
        "genericAuthType": "="
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "cR1TcHqDvuy7Oexw",
          "name": "Bearer YOUR_TOKEN_HERE account"
        },
        "httpHeaderAuth": {
          "id": "047ISRvu3ma9yfxk",
          "name": "saurabh 1"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "acdfa4af-1bb3-4d52-84ff-b124cc4120cc",
      "name": "Fetch Signed Resume URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        64,
        560
      ],
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url ",
        "options": {},
        "sendQuery": true,
        "authentication": "genericCredentialType",
        "genericAuthType": "=",
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "047ISRvu3ma9yfxk",
          "name": "saurabh 1"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "3ad42117-b83c-4d65-92d1-d4c1025d4b8a",
      "name": "Extract Resume Text (Mistral OCR)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        288,
        560
      ],
      "parameters": {
        "url": "https://api.mistral.ai/v1/ocr",
        "method": "POST",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": false\n} ",
        "sendBody": true,
        "specifyBody": "json",
        "authentication": "genericCredentialType",
        "genericAuthType": "="
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "047ISRvu3ma9yfxk",
          "name": "saurabh 1"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "d08359ee-f3a1-40b9-a33d-e81c7c2f97fd",
      "name": "Store Resume Text",
      "type": "n8n-nodes-base.set",
      "position": [
        512,
        560
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "7270c615-4c3f-48e2-9992-62a0d7e47f65",
              "name": "Resume Details",
              "type": "string",
              "value": "={{ $json.pages[0].markdown }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "37d08f87-0ad3-48d0-8ffc-3820959110a0",
      "name": "Parse Email Metadata",
      "type": "n8n-nodes-base.set",
      "position": [
        512,
        752
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "c706683f-74d8-4616-bb60-f604e2c66f56",
              "name": "Email Content",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "d3d645b5-e47f-49b7-8da3-13b63c6f12b2",
              "name": "Subject",
              "type": "string",
              "value": "={{ $json.subject }}"
            },
            {
              "id": "4f213c26-e182-4275-afb4-227ae1221d25",
              "name": "Senders Email",
              "type": "string",
              "value": "={{ $json.from.value[0].address }}"
            },
            {
              "id": "922f56fa-a785-4ed7-b778-9f4eb6892684",
              "name": "Senders Name",
              "type": "string",
              "value": "={{ $json.from.value[0].name }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "cff0d458-a52e-42e0-a3c6-a265146a51e6",
      "name": "Merge Email + Resume Data",
      "type": "n8n-nodes-base.merge",
      "position": [
        736,
        656
      ],
      "parameters": {
        "mode": "combine",
        "options": {},
        "combineBy": "combineByPosition"
      },
      "typeVersion": 3.2
    },
    {
      "id": "9557ea09-4af8-4181-934c-edf0536a4694",
      "name": "Fetch HR Job Requirements",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1232,
        832
      ],
      "parameters": {
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultUrl": "",
          "cachedResultName": ""
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kpPEOLCGn963qpoh",
          "name": "automations@techdome.ai"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "cb98bef5-23ff-4bc3-87f8-47c37a46dd5a",
      "name": "Parse AI Output (Structured JSON)",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1328,
        816
      ],
      "parameters": {
        "jsonSchemaExample": "{\n  \"candidate_name\": \"Vivek Patidar\",\n  \"email\": \"herevivekpatidar@gmail.com\",\n  \"role_applied\": \"Full Stack Developer\",\n  \"total_experience\": 0,\n  \"matched_skills\": [\"React\", \"Node.js\", \"AWS\"],\n  \"missing_skills\": [\"MongoDB\"],\n  \"job_fit_summary\": \"string\",\n  \"ai_score\": 0,\n  \"recommendation\": \"Shortlist\",\n  \"reason\": \"string\"\n}\n"
      },
      "typeVersion": 1.3
    },
    {
      "id": "eb72f758-8d9a-4da3-a1eb-4830c5a3f5c1",
      "name": "AI Agent: Candidate Evaluator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1088,
        656
      ],
      "parameters": {
        "text": "={{ \n  \"Candidate Email Metadata:\\n\" +\n  \"Sender Name: \" + $json[\"Senders Name\"] + \"\\n\" +\n  \"Sender Email: \" + $json[\"Senders Email\"] + \"\\n\" +\n  \"Subject: \" + $json[\"Subject\"] + \"\\n\\n\" +\n  \"Email Content:\\n\" + $json[\"Email Content\"] + \"\\n\\n\" +\n  \"Resume Text:\\n\" + $json[\"Resume Details\"]\n}}",
        "options": {
          "systemMessage": "=You are an AI-powered HR Recruitment Screening Assistant integrated within n8n.\n\nYour role is to evaluate job applicants based on both their resume data and their email message. You assess how well a candidate fits open positions listed in the connected Google Sheet “HR Requirement”.\n\nEach record in that sheet includes:\n- Role\n- Minimum Experience (in years)\n- Preferred Skills\n- Department\n- Key Traits\n- Job Summary\n\n---\n\n### 🔹 INPUT YOU RECEIVE\nYou will always receive:\n- Candidate Email Metadata (sender name, sender email, subject, and email content)\n- Candidate Resume Text (OCR-extracted or text version)\n- Context about HR requirement data via the connected Google Sheets tool\n\n---\n\n### 🔹 YOUR TASK\nAnalyze the **resume** and **email message** together to determine:\n1. Candidate’s name and contact info (use the resume or email)\n2. Role applied for (explicitly mentioned or inferred from email subject or content)\n3. Total professional experience (in years)\n4. Matched skills vs. missing skills (compare against HR sheet for that role)\n5. A concise job fit summary\n6. AI Score (0–100)\n7. Recommendation (“Shortlist” or “Reject”)\n8. One-line reason for the recommendation\n\n---\n\n### 🔹 EVALUATION LOGIC\n1. Identify the target job role → from the email subject or resume. If not clear, mark `\"role_applied\": \"Unknown\"`.\n2. Query the HR Requirement Sheet for that role and use it to determine the expected skills and experience.\n3. Extract the candidate’s professional experience, education, and technical skills from the resume text.\n4. Compare and calculate a match percentage:\n   - Match ≥70% → `\"recommendation\": \"Shortlist\"`\n   - Otherwise → `\"recommendation\": \"Reject\"`\n5. Assign `ai_score` as the overall fit (0–100).\n6. Write a clear, short factual explanation in `reason`.\n7. Always return **only valid JSON** in the required format (no text outside the JSON).\n\n---\n\n### 🔹 OUTPUT JSON SCHEMA\n```json\n{\n  \"candidate_name\": \"string\",\n  \"email\": \"string\",\n  \"role_applied\": \"string\",\n  \"total_experience\": number,\n  \"matched_skills\": [\"string\"],\n  \"missing_skills\": [\"string\"],\n  \"job_fit_summary\": \"string\",\n  \"ai_score\": number,\n  \"recommendation\": \"Shortlist or Reject\",\n  \"reason\": \"string\"\n}\n"
        },
        "promptType": "define",
        "hasOutputParser": true
      },
      "typeVersion": 2.1
    },
    {
      "id": "86bb2616-9aa4-4595-9b4a-3584ea5c3c77",
      "name": "AI Model: GPT-4 Screening Engine",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1008,
        816
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "options": {
          "temperature": 0.7
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "5Kzt6hGSZ1JHZqWN",
          "name": "OpenAi account 2"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "65c357f4-9bd3-4854-980d-9443fc5bf5f0",
      "name": "AI Memory: Candidate Context",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1120,
        832
      ],
      "parameters": {
        "sessionKey": "=\"Candidate Screening\"",
        "sessionIdType": "customKey"
      },
      "typeVersion": 1.3
    },
    {
      "id": "b32a3769-be85-4692-a265-42ec8a670537",
      "name": "Map AI Results to Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1552,
        656
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "b245e671-16ce-4f2e-8f2f-5bf67445c5f6",
              "name": "Candidate Name",
              "type": "string",
              "value": "={{ $json.output.candidate_name }}"
            },
            {
              "id": "dfa905e4-80ff-45d5-97ce-3ebeea415abe",
              "name": "Email",
              "type": "string",
              "value": "={{ $json.output.email }}"
            },
            {
              "id": "a9a8015c-4979-470b-bf5d-1dc9a0d32fda",
              "name": "Applied Role",
              "type": "string",
              "value": "={{ $json.output.role_applied }}"
            },
            {
              "id": "694bd7af-ae87-4294-bc8b-001f1a79cd55",
              "name": "Experience",
              "type": "number",
              "value": "={{ $json.output.total_experience }}"
            },
            {
              "id": "bedf40b0-24f0-4cdc-8f9e-f60a37d45bbc",
              "name": "Matched Skill",
              "type": "array",
              "value": "={{ $json.output.matched_skills }}"
            },
            {
              "id": "8aeb65b5-da6b-4423-8143-ba4409a08127",
              "name": "Missing Skill",
              "type": "array",
              "value": "={{ $json.output.missing_skills }}"
            },
            {
              "id": "d004eef1-3ea1-44e7-bc92-598a54d7bb77",
              "name": "Summary",
              "type": "string",
              "value": "={{ $json.output.job_fit_summary }}"
            },
            {
              "id": "faf65088-2d65-41d8-94da-40dc844359c8",
              "name": "AI Score",
              "type": "number",
              "value": "={{ $json.output.ai_score }}"
            },
            {
              "id": "df73ac48-c110-4007-a85a-31ac4f33f104",
              "name": "Recommendation",
              "type": "string",
              "value": "={{ $json.output.recommendation }}"
            },
            {
              "id": "0bae37b1-c235-47e8-bb65-4840954af6a2",
              "name": "Reason",
              "type": "string",
              "value": "={{ $json.output.reason }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "19a6f6d0-e79d-483a-a403-a79ccb39098b",
      "name": "Filter by AI Score / Recommendation",
      "type": "n8n-nodes-base.if",
      "position": [
        1776,
        656
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "022be135-23be-4533-911e-40880e880072",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.Recommendation }}",
              "rightValue": "Shortlist"
            },
            {
              "id": "7a18eeba-8aa7-4218-8f32-3bb950873188",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json[\"AI Score\"] }}",
              "rightValue": 75
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "3503dcee-0551-4483-ad92-d8fef169191b",
      "name": "Update Candidate Record (Sheets)",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2000,
        368
      ],
      "parameters": {
        "operation": "appendOrUpdate",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultUrl": "",
          "cachedResultName": ""
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kpPEOLCGn963qpoh",
          "name": "automations@techdome.ai"
        }
      },
      "typeVersion": 4.4
    },
    {
      "id": "3a1cf78b-c943-4c31-8014-d2d5b1392eda",
      "name": "Send Shortlist Confirmation (Email)",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2000,
        560
      ],
      "webhookId": "b72f0b16-33ab-4ab7-a506-ebacbbc3193a",
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.8;\n            color: #333333;\n            max-width: 650px;\n            margin: 0 auto;\n            padding: 20px;\n        }\n        .letterhead {\n            border-bottom: 3px solid #2c3e50;\n            padding-bottom: 10px;\n            margin-bottom: 20px;\n        }\n        .company-name {\n            font-size: 20px;\n            font-weight: bold;\n            color: #2c3e50;\n        }\n        .content {\n            margin: 30px 0;\n        }\n        .highlight-box {\n            background-color: #f8f9fa;\n            border-left: 4px solid #2c3e50;\n            padding: 20px;\n            margin: 25px 0;\n        }\n        .details-table {\n            width: 100%;\n            border-collapse: collapse;\n            margin: 20px 0;\n        }\n        .details-table td {\n            padding: 10px;\n            border-bottom: 1px solid #e0e0e0;\n        }\n        .details-table td:first-child {\n            font-weight: 600;\n            width: 40%;\n            color: #555;\n        }\n        .signature {\n            margin-top: 40px;\n        }\n        .footer {\n            margin-top: 50px;\n            padding-top: 20px;\n            border-top: 1px solid #e0e0e0;\n            font-size: 11px;\n            color: #666;\n            text-align: center;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"letterhead\">\n        <div class=\"company-name\">[COMPANY NAME]</div>\n        <div style=\"color: #666; font-size: 12px;\">Talent Acquisition Department</div>\n    </div>\n    \n    <div class=\"content\">\n        <p><strong>Date:</strong> {{ $now.format('MMMM dd, yyyy') }}</p>\n        \n        <p style=\"margin-top: 30px;\">Dear <strong>{{ $json[\"Candidate Name\"] }}</strong>,</p>\n        \n        <p>We are writing to inform you that your application for the position of <strong>{{ $json[\"Applied Role\"] }}</strong> has been carefully reviewed by our recruitment team.</p>\n        \n        <p><strong>We are pleased to inform you that you have been shortlisted for the next stage of our selection process.</strong></p>\n        \n        <p><strong>Next Steps:</strong></p>\n        <p>We would like to schedule a detailed interview with you to discuss this opportunity further and assess your fit for the role and our organization.</p>\n        \n        <p>Kindly reply to this email at your earliest convenience with your availability for the coming week (Monday to Friday, between 10:00 AM and 5:00 PM). We will coordinate a mutually suitable time for the interview.</p>\n        \n        <p>Please ensure that you bring the following documents for the interview:</p>\n        <ul style=\"line-height: 2;\">\n            <li>Updated Resume/CV</li>\n            <li>Valid Government-issued Photo ID</li>\n            <li>Educational certificates and experience letters</li>\n            <li>Any relevant portfolio or work samples</li>\n        </ul>\n        \n        <p>Should you have any questions or require any clarifications, please do not hesitate to contact us at <strong>[HR_EMAIL]</strong> or <strong>[HR_PHONE]</strong>.</p>\n        \n        <p>We appreciate your interest in joining our organization and look forward to meeting you.</p>\n        \n        <div class=\"signature\">\n            <p>Warm regards,</p>\n            <p style=\"margin: 5px 0;\"><strong>[HR MANAGER NAME]</strong><br>\n            [Designation]<br>\n            Talent Acquisition Department<br>\n            [COMPANY NAME]</p>\n            <p style=\"margin-top: 15px; font-size: 13px;\">\n            <strong>Email:</strong> [HR_EMAIL]<br>\n            <strong>Phone:</strong> [HR_PHONE]<br>\n            <strong>Website:</strong> [COMPANY_WEBSITE]\n            </p>\n        </div>\n    </div>\n    \n    <div class=\"footer\">\n        <p>This is an official communication from [COMPANY NAME]. Please do not reply to this email  it was sent from an automated system.</p>\n        <p><strong>Confidentiality Notice:</strong> This email and any attachments are confidential and intended solely for the addressee.</p>\n    </div>\n</body>\n</html>",
        "options": {},
        "subject": "Congratulations! Next Steps for Your Application"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "gEIaWCTvGfYjMSb3",
          "name": "Gmail credentials"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "00ae4e31-9d6f-4c10-b2c1-31c02fddb15d",
      "name": "Notify HR: High-Scoring Candidate (Slack)",
      "type": "n8n-nodes-base.slack",
      "position": [
        2000,
        944
      ],
      "webhookId": "665262cb-25ba-4b11-8551-0926567cfab1",
      "parameters": {
        "text": "=📋 *High-Scoring Candidate Alert*\n\n*Candidate:* {{ $json[\"Candidate Name\"] }}\n*AI Score:* {{ $json[\"AI Score\"] }} /100\n*Applied Role:* {{ $json[\"Applied Role\"] }}\n*Summary:* {{ $json.Summary }}\n*Key Skills:* {{ $json[\"Matched Skill\"].join(',') }}\n\n👉 Review this candidate in the recruitment spreadsheet",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "rNqvWj9TfChPVRYY",
          "name": "Slack account vivek"
        }
      },
      "typeVersion": 2.1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "76728ba5-5f0c-449b-8b9b-ee1616a6f23f",
  "connections": {
    "Store Resume Text": {
      "main": [
        [
          {
            "node": "Merge Email + Resume Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email Metadata": {
      "main": [
        [
          {
            "node": "Merge Email + Resume Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Signed Resume URL": {
      "main": [
        [
          {
            "node": "Extract Resume Text (Mistral OCR)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map AI Results to Fields": {
      "main": [
        [
          {
            "node": "Filter by AI Score / Recommendation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HR Job Requirements": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Candidate Evaluator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge Email + Resume Data": {
      "main": [
        [
          {
            "node": "AI Agent: Candidate Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Resume Attachment": {
      "main": [
        [
          {
            "node": "Upload Resume (Mistral OCR)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Resume (Mistral OCR)": {
      "main": [
        [
          {
            "node": "Fetch Signed Resume URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Memory: Candidate Context": {
      "ai_memory": [
        [
          {
            "node": "AI Agent: Candidate Evaluator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Candidate Evaluator": {
      "main": [
        [
          {
            "node": "Map AI Results to Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Model: GPT-4 Screening Engine": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Candidate Evaluator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Resume Text (Mistral OCR)": {
      "main": [
        [
          {
            "node": "Store Resume Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output (Structured JSON)": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent: Candidate Evaluator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Filter by AI Score / Recommendation": {
      "main": [
        [
          {
            "node": "Update Candidate Record (Sheets)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Shortlist Confirmation (Email)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify HR: High-Scoring Candidate (Slack)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejection Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: New Candidate Email (Gmail)": {
      "main": [
        [
          {
            "node": "Parse Email Metadata",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check for Resume Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}