public/workflows/10668_Enrich_LinkedIn_Leads_with_Apify_using_Google_Sheets.json
{
  "id": "rvWmuyYIhWwCO6Xg",
  "meta": {
    "name": "Enrich LinkedIn Leads with Apify using Google Sheets",
    "id": 10668
  },
  "name": "LinkedIn Lead Enrichment from Google sheets to Google sheets",
  "tags": [],
  "nodes": [
    {
      "id": "d7af6e84-429f-4bf3-9ee4-82eb218381b9",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -96,
        624
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "253ad592-d742-4257-8e88-55fa0e799714",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        512
      ],
      "parameters": {
        "width": 540,
        "height": 1200,
        "content": "## Try It Out!\n\nThis n8n template shows how to enrich Google spreadsheet with LinkedIn profiles automatically using the Apify LinkedIn Profile Enrichment actor from [Anchor](https://apify.com/anchor). It will create a new sheet with the enriched data.\n\nYou can use it to build lead enrichment workflows, update your CRM records, or personalize outreach campaigns — all directly inside n8n.\n\n### Who is this for\n- Sales Teams: Build targeted B2B lead lists fast.\n- Recruiters: Gather candidate data from LinkedIn profiles.\n- Growth Marketers: Enrich outreach lists with LinkedIn info.\n- Researchers: Analyze industries, roles, and company trends.\n- CRM Builders: Auto-populate contact data from LinkedIn.\n- Lead-Gen Agencies: Deliver qualified prospect lists at scale.\n\n### How it works\n- The workflow starts with a list of LinkedIn profile URLs (you need to set the Google sheet URL after you added the Google credentials from the n8n settings).\n- The Apify node runs the LinkedIn Profile Enrichment actor to extract structured data such as name, title, company, location, and more.\n- The results are then stored in a new Google Sheet\n\n### How to use\nIn Google Sheet:\n- Create a Google sheet, rename the sheet \"profiles\" and add all the LinkedIn URLs you want to enrich (one url per row)\n\n\nIn this Workflow:\n- Open the \"Set google sheet URL & orginial sheet name\" and replace the example Google sheet URL, and the name of the sheet where your LinkedIn URLs are  \n\n\nIn the n8n credentials:  \n- Connect your Google Sheet account, with read and write privileges for google sheets\n- Connect to your Apify account \n\n\nIn Apify:\n- Sign up for this [Apify Actor](https://apify.com/anchor/linkedin-profile-enrichment)\n\n### Requirements\n- Apify account with access to the LinkedIn Profile Enrichment actor\n- LinkedIn profile URLs to process\n\n#### Need Help?\n\nOpen an issue on directly on Apify￼! Avg answer in less than 24h\n\nHappy Enrichment!\n\n"
      },
      "typeVersion": 1
    },
    {
      "id": "cf257c1e-df6d-4db5-b986-33fa2ef9b920",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        816
      ],
      "parameters": {
        "color": 4,
        "width": 448,
        "height": 224,
        "content": "## Input Example\n```json\n[\n {\n   \"google_sheet_url\": \"https://docs.google.com/spreadsheets/d/1ffxxxxxxxxxxvI/\",\n   \"google_sheet_name\": \"profiles\"\n }\n]\n```"
      },
      "typeVersion": 1
    },
    {
      "id": "735e23a5-1279-4686-8a71-b67a3ba06bc1",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        816
      ],
      "parameters": {
        "color": 5,
        "width": 896,
        "height": 416,
        "content": "## Output Example\n\n![google sheet output example](https://i.postimg.cc/vmHr9VGR/Screenshot-2025-11-10-at-01-22-02.png)"
      },
      "typeVersion": 1
    },
    {
      "id": "1847381e-9c55-48f9-814e-c24f9c65ec07",
      "name": "Create new sheet for enriched profiles",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        352,
        528
      ],
      "parameters": {
        "title": "=profiles-enriched-{{new Date().format('dd/mm-HH:mm')}}",
        "options": {},
        "operation": "create",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.google_sheet_url }}"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k9BZ2VvgTo6CWEEx",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.6
    },
    {
      "id": "befb634a-f002-4fe2-a06b-e6e0dbe2c316",
      "name": "Get URLs from first sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        352,
        720
      ],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.google_sheet_name }}"
        },
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.google_sheet_url }}"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k9BZ2VvgTo6CWEEx",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.6
    },
    {
      "id": "9d7b9c9a-81f8-4bf3-923d-0ded1b16c45a",
      "name": "Set google sheet URL & original sheet name",
      "type": "n8n-nodes-base.set",
      "position": [
        128,
        624
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "1cdf422f-6817-4666-a8f3-90a2939d3377",
              "name": "google_sheet_url",
              "type": "string",
              "value": "xxxxxxxxxxxx"
            },
            {
              "id": "6a06b96f-0df8-4b3c-bd42-cb22127e7ac2",
              "name": "google_sheet_name",
              "type": "string",
              "value": "profiles"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "a03f0ca7-4e85-406b-9d27-5a5f0f52ef62",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        880
      ],
      "parameters": {
        "color": 4,
        "width": 672,
        "height": 352,
        "content": "## Google Sheet INPUT Example\n\n![google sheet example](https://i.postimg.cc/k4HB2VgW/Screenshot-2025-11-10-at-01-16-03.png)"
      },
      "typeVersion": 1
    },
    {
      "id": "bef6026e-8153-49c4-ad55-f680c42526f1",
      "name": "wait for previous nodes to finish",
      "type": "n8n-nodes-base.merge",
      "position": [
        576,
        624
      ],
      "parameters": {},
      "typeVersion": 3.2
    },
    {
      "id": "0ceae0f0-b870-4878-b244-38bbc239e87b",
      "name": "format data for Apify INPUT type",
      "type": "n8n-nodes-base.code",
      "notes": "This node is deisgned to properly format the data before its feed to the APIFY Actor, which needs a specific formating as INPUT as you can check here https://apify.com/dev_fusion/linkedin-profile-scraper/input-schema",
      "position": [
        800,
        624
      ],
      "parameters": {
        "jsCode": "const newItemArray = []\nfor (const item of $('Get URLs from first sheet').all()) {\n  const newItem = {}\n  newItem.url = item.json.url;\n  newItemArray.push(newItem)\n}\n\nreturn { \n  json: {\n    startUrlsObject : \n      {\n        startUrls : newItemArray\n      }\n  }\n}"
      },
      "typeVersion": 2
    },
    {
      "id": "0986effe-19f0-4ae9-b422-58518e39fee8",
      "name": "Run Actor on Apify",
      "type": "@apify/n8n-nodes-apify.apify",
      "position": [
        1024,
        624
      ],
      "parameters": {
        "actorId": {
          "__rl": true,
          "mode": "list",
          "value": "AgfKk0sQQxkpQJ1Dt",
          "cachedResultUrl": "https://console.apify.com/actors/AgfKk0sQQxkpQJ1Dt/input",
          "cachedResultName": "🌟 LinkedIn Profile Scraper for cheap lead enrichment (anchor/linkedin-profile-enrichment)"
        },
        "customBody": "={{ $json.startUrlsObject }}",
        "actorSource": "store"
      },
      "credentials": {
        "apifyApi": {
          "id": "waECNxTZr0ungVMJ",
          "name": "Apify account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "e1364b92-dce2-4187-b96f-010ef120566f",
      "name": "Get Results from Apify",
      "type": "@apify/n8n-nodes-apify.apify",
      "position": [
        1248,
        624
      ],
      "parameters": {
        "offset": {},
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}"
      },
      "credentials": {
        "apifyApi": {
          "id": "waECNxTZr0ungVMJ",
          "name": "Apify account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "aef23e87-4fd1-42d9-81fc-86ff77397259",
      "name": "Add profiles into the new Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1472,
        624
      ],
      "parameters": {
        "columns": {
          "value": {},
          "schema": [
            {
              "id": "full_name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "full_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "first_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "last_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "headline",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "headline",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "country",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "city",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "profile_pic_url",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "profile_pic_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "follower_count",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "follower_count",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "public_identifier",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "public_identifier",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "open_to_work",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "open_to_work",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "show_verification_badge",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "show_verification_badge",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "skills",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "skills",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "certifications",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "certifications",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "experiences",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "experiences",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "education",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "education",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "background_cover_image_url",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "background_cover_image_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "languages",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "languages",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "personal_emails",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "personal_emails",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "personal_numbers",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "personal_numbers",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "company_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_industry",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "company_industry",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_website",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "company_website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_linkedin",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "company_linkedin",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_size",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "company_size",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create new sheet for enriched profiles').first().json.sheetId }}"
        },
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $('Set google sheet URL & original sheet name').first().json.google_sheet_url }}"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k9BZ2VvgTo6CWEEx",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.6
    }
  ],
  "active": false,
  "pinData": {
    "Set google sheet URL & original sheet name": [
      {
        "json": {
          "google_sheet_url": "https://docs.google.com/spreadsheets/d/1f3EkHfym8yYN0QuxIwOIsib85TvljN6DpETxLxij5vI/",
          "google_sheet_name": "profiles"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6cf657e4-574d-4174-a232-6bb19384c10b",
  "connections": {
    "Run Actor on Apify": {
      "main": [
        [
          {
            "node": "Get Results from Apify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Results from Apify": {
      "main": [
        [
          {
            "node": "Add profiles into the new Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URLs from first sheet": {
      "main": [
        [
          {
            "node": "wait for previous nodes to finish",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "format data for Apify INPUT type": {
      "main": [
        [
          {
            "node": "Run Actor on Apify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait for previous nodes to finish": {
      "main": [
        [
          {
            "node": "format data for Apify INPUT type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set google sheet URL & original sheet name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new sheet for enriched profiles": {
      "main": [
        [
          {
            "node": "wait for previous nodes to finish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set google sheet URL & original sheet name": {
      "main": [
        [
          {
            "node": "Create new sheet for enriched profiles",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get URLs from first sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}