public/workflows/10716_WhatsApp_Customer_Support_Bot_with_GPT-4_Mini__Google_Sheets___Rapiwa_API.json
{
  "meta": {
    "name": "WhatsApp Customer Support Bot with GPT-4 Mini, Google Sheets & Rapiwa API",
    "id": 10716
  },
  "nodes": [
    {
      "id": "e1a9a6ac-f3a6-498c-9a71-cc9c5143581a",
      "name": "Think",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        1024,
        -16
      ],
      "parameters": {
        "description": "Assistant Name: Rapiwa,\nYou are an intelligent and empathetic customer support assistant dedicated to helping users efficiently and professionally.\n\nYou have seamless access to a Google Sheets database to retrieve or log relevant information as needed.\nNever disclose to users that your responses are powered by data from Google Sheets.\n\nYour Primary Responsibilities:\n\n1. Understand the User’s Request\n- Accurately interpret the user’s question, issue, or concern.\n- Maintain a friendly, supportive tone in all interactions.\n\n2. Provide Product Information\n- If a user inquires about a product, retrieve and share:\n  • Product name\n  • Price\n  • Key details\n- Clearly indicate whether the pricing is subscription-based or a one-time payment, based on the description.\n\n3. Handle Support Issues\n- If a problem is identified:\n  • Clearly define the problem in user-friendly terms.\n  • Offer a relevant and practical solution or workaround.\n  • If needed, guide the user to the next best step for resolution.\n\n4. Log Support Interactions\n- Record the conversation by adding a new row in the sheet with the following columns:\n  • Problem\n  • Suggested Solution\n  • Category (e.g., payment, login, access, delivery, technical issue, etc.)\n  • And you will get a solution from HTTPS request \"Support Desk\" \n\n5. When someone wants to know more about our company, you can get the information from Google Docs.\nOtherwise, you can give it from \"Read Company Information\".\n\n6. Compose WhatsApp-Ready Messages\n- Ensure all responses are intended for WhatsApp:\n  • Are plain-text only (no HTML or markdown)\n  • Include full plain URLs (not hyperlinks)\n  • Use a natural, conversational tone\n  • Are well-structured and easy to read on mobile\n\nCommunication Guidelines:\n- Be concise, professional, and understanding.\n- Always aim to resolve the issue or direct the user to the next best step.\n- Avoid jargon or overly technical language unless necessary.\n-Don't share any information except the attached reference.\n"
      },
      "notesInFlow": true,
      "typeVersion": 1
    },
    {
      "id": "8fd1c734-11e4-411b-a1db-c116681b411e",
      "name": "Rapiwa Trigger",
      "type": "n8n-nodes-rapiwa.rapiwaTrigger",
      "position": [
        480,
        -288
      ],
      "webhookId": "61758939-cd94-4ae4-acfe-2321e51f1940",
      "parameters": {},
      "credentials": {
        "rapiwaApi": {
          "id": "ge5WDOaDo4d1hBpU",
          "name": "Rapiwa account 2"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "1c6d9cf9-489b-4b5d-aa23-a99c7cfe6d14",
      "name": "AI Agent -  Customer Support Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1072,
        -304
      ],
      "parameters": {
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Assistant Name: Rapiwa,\nYou are an intelligent and empathetic customer support assistant dedicated to helping users efficiently and professionally.\n\nYou have seamless access to a Google Sheets database to retrieve or log relevant information as needed.\nNever disclose to users that your responses are powered by data from Google Sheets.\n\nYour Primary Responsibilities:\n\n1. Understand the User’s Request\n- Accurately interpret the user’s question, issue, or concern.\n- Maintain a friendly, supportive tone in all interactions.\n\n2. Provide Product Information\n- If a user inquires about a product, retrieve and share:\n  • Product name\n  • Price\n  • Key details\n- Clearly indicate whether the pricing is subscription-based or a one-time payment, based on the description.\n\n3. Handle Support Issues\n- If a problem is identified:\n  • Clearly define the problem in user-friendly terms.\n  • Offer a relevant and practical solution or workaround.\n  • If needed, guide the user to the next best step for resolution.\n\n4. Log Support Interactions\n- Record the conversation by adding a new row in the sheet with the following columns:\n  • Problem\n  • Suggested Solution\n  • Category (e.g., payment, login, access, delivery, technical issue, etc.)\n  • And you will provide the HTTPS request solution from \"Research->Support Desk\", along with the desk's target or exact solution link.\n\n5. When someone wants to know more about our company, you can get the information from Google Docs.\nOtherwise, you can give it from \"Read Company Information\".\n\n6. Compose WhatsApp-Ready Messages\n- Ensure all responses are intended for WhatsApp:\n  • Are plain-text only (no HTML or markdown)\n  • Include full plain URLs (not hyperlinks)\n  • Use a natural, conversational tone\n  • Are well-structured and easy to read on mobile\n\nCommunication Guidelines:\n- Be concise, professional, and understanding.\n- Always aim to resolve the issue or direct the user to the next best step.\n- Avoid jargon or overly technical language unless necessary.\n-Don't share any information except the attached reference.\n"
        },
        "promptType": "define"
      },
      "typeVersion": 1.7
    },
    {
      "id": "be74aa4c-658e-4294-bb82-ae8422f90dd9",
      "name": "If (check text)",
      "type": "n8n-nodes-base.if",
      "position": [
        704,
        -288
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a970837b-bf0f-4eca-bb55-501b5ed6e383",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "a8521f60-ea0d-48a6-ac81-8decbfec66cf",
      "name": "Replay",
      "type": "n8n-nodes-rapiwa.rapiwa",
      "position": [
        1696,
        -304
      ],
      "parameters": {
        "number": "={{ $('Rapiwa Trigger').item.json.contact_id }}",
        "message": "={{ $json.output }}"
      },
      "credentials": {
        "rapiwaApi": {
          "id": "ge5WDOaDo4d1hBpU",
          "name": "Rapiwa account 2"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "eae3a538-cb6d-4ba4-a475-a3f20a1abc93",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        912,
        -16
      ],
      "parameters": {
        "sessionKey": "={{ $json.message_id }}",
        "sessionIdType": "customKey",
        "contextWindowLength": 50
      },
      "typeVersion": 1.3
    },
    {
      "id": "943c7107-3028-4d00-b6d9-dba4a5c4d311",
      "name": "Research",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        1136,
        -16
      ],
      "parameters": {
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {},
        "toolDescription": "Assistant Name: Rapiwa,\nYou are an intelligent and empathetic customer support assistant dedicated to helping users efficiently and professionally.\n\nYou have seamless access to a Google Sheets database to retrieve or log relevant information as needed.\nNever disclose to users that your responses are powered by data from Google Sheets.\n\nYour Primary Responsibilities:\n\n1. Understand the User’s Request\n- Accurately interpret the user’s question, issue, or concern.\n- Maintain a friendly, supportive tone in all interactions.\n\n2. Provide Product Information\n- If a user inquires about a product, retrieve and share:\n  • Product name\n  • Price\n  • Key details\n- Clearly indicate whether the pricing is subscription-based or a one-time payment, based on the description.\n\n3. Handle Support Issues\n- If a problem is identified:\n  • Clearly define the problem in user-friendly terms.\n  • Offer a relevant and practical solution or workaround.\n  • If needed, guide the user to the next best step for resolution.\n\n4. Log Support Interactions\n- Record the conversation by adding a new row in the sheet with the following columns:\n  • Problem\n  • Suggested Solution\n  • Category (e.g., payment, login, access, delivery, technical issue, etc.)\n  • And you will provide the HTTPS request solution from \"Research->Support Desk\", along with the desk's target or exact solution link.\n\n5. When someone wants to know more about our company, you can get the information from Google Docs.\nOtherwise, you can give it from \"Read Company Information\".\n\n6. Compose WhatsApp-Ready Messages\n- Ensure all responses are intended for WhatsApp:\n  • Are plain-text only (no HTML or markdown)\n  • Include full plain URLs (not hyperlinks)\n  • Use a natural, conversational tone\n  • Are well-structured and easy to read on mobile\n\nCommunication Guidelines:\n- Be concise, professional, and understanding.\n- Always aim to resolve the issue or direct the user to the next best step.\n- Avoid jargon or overly technical language unless necessary.\n-Don't share any information except the attached reference.\n"
      },
      "typeVersion": 2.2
    },
    {
      "id": "ea6f41ec-0e44-4b28-a60f-e6ac15d8bdcf",
      "name": "Support Desk",
      "type": "n8n-nodes-base.httpRequestTool",
      "notes": "https://docs.salebot.app/\nhttps://docs.delix.cloud/ \nhttps://socialvibe.spagreen.net/docs/\nhttps://faculty.spagreen.net/docs/\nhttps://docs.spagreen.net/docs/yoori/get-started/introduction\nhttps://meetair.spagreen.net/docs/\nhttps://oxoo.spagreen.net/documentation/android/\nhttps://docs.flixoo.app/",
      "position": [
        1184,
        320
      ],
      "parameters": {
        "url": "https://desk.spagreen.net/knowledge-base",
        "options": {},
        "toolDescription": "If you have any problems with \"knowledge base\" or if someone has any questions, please search this tool.\nAnd if someone wants knowledge-base documentation, give them this documentation link or the specific link for this product."
      },
      "typeVersion": 4.2
    },
    {
      "id": "88b25afe-d3b0-4bd7-9c33-6bdcb81959bc",
      "name": "Docs",
      "type": "n8n-nodes-base.googleDocsTool",
      "position": [
        1088,
        320
      ],
      "parameters": {
        "operation": "get",
        "documentURL": "add_your_google_doce_link lke this: https://docs.google.com/document/d/1QC7b4tds6fBGFUIE-67qA74bPb-FAvV_DA_RdAxGmiY/edit?usp=sharing",
        "descriptionType": "manual",
        "toolDescription": "When someone wants to know more about our company, you can get the information from Google Docs.\nOtherwise, you can give it from \"Read Company Information\""
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "upoYuIvIHPZfgxay",
          "name": "Google Docs account"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "84ff8af2-2694-40ef-86a0-6d86074d04aa",
      "name": "Read Company Information",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        992,
        320
      ],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 270740940,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7nm83Op70gA2UhJGq1sGwcy4GDe0xSZ5hi1zA3BUeE/edit#gid=270740940",
          "cachedResultName": "company"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1R7nm83Op70gA2UhJGq1sGwcy4GDe0xSZ5hi1zA3BUeE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7nm83Op70gA2UhJGq1sGwcy4GDe0xSZ5hi1zA3BUeE/edit?usp=drivesdk",
          "cachedResultName": "WhatsApp ChatBot"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gFH3Wjq6yYqSEAei",
          "name": "Google Sheets"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "05b02a07-cbc1-4a18-9cf2-d1654f3cd3be",
      "name": "Read Product",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        896,
        320
      ],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7nm83Op70gA2UhJGq1sGwcy4GDe0xSZ5hi1zA3BUeE/edit#gid=0",
          "cachedResultName": "products"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1R7nm83Op70gA2UhJGq1sGwcy4GDe0xSZ5hi1zA3BUeE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7nm83Op70gA2UhJGq1sGwcy4GDe0xSZ5hi1zA3BUeE/edit?usp=drivesdk",
          "cachedResultName": "WhatsApp ChatBot"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gFH3Wjq6yYqSEAei",
          "name": "Google Sheets"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "dc105a22-0017-429e-aeaa-aba6c10e609d",
      "name": "Read Service",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        800,
        320
      ],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1324802819,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7nm83Op70gA2UhJGq1sGwcy4GDe0xSZ5hi1zA3BUeE/edit#gid=1324802819",
          "cachedResultName": "service"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1R7nm83Op70gA2UhJGq1sGwcy4GDe0xSZ5hi1zA3BUeE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7nm83Op70gA2UhJGq1sGwcy4GDe0xSZ5hi1zA3BUeE/edit?usp=drivesdk",
          "cachedResultName": "WhatsApp ChatBot"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gFH3Wjq6yYqSEAei",
          "name": "Google Sheets"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "24484105-a860-449d-90ab-8813a3e2a148",
      "name": "Log Customer Issues",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        704,
        320
      ],
      "parameters": {
        "columns": {
          "value": {
            "SL": "=ROW()+1",
            "Issue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue', ``, 'string') }}",
            "Category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Category', ``, 'string') }}",
            "Solution": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Solution', ``, 'string') }}"
          },
          "schema": [
            {
              "id": "SL",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "SL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Issue",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Issue",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Category",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Solution",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Solution",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1719310477,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7nm83Op70gA2UhJGq1sGwcy4GDe0xSZ5hi1zA3BUeE/edit#gid=1719310477",
          "cachedResultName": "support"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1R7nm83Op70gA2UhJGq1sGwcy4GDe0xSZ5hi1zA3BUeE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7nm83Op70gA2UhJGq1sGwcy4GDe0xSZ5hi1zA3BUeE/edit?usp=drivesdk",
          "cachedResultName": "WhatsApp ChatBot"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gFH3Wjq6yYqSEAei",
          "name": "Google Sheets"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "e550c8e8-1532-418e-99e4-d55604a6d759",
      "name": "salebot",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        1280,
        320
      ],
      "parameters": {
        "url": "https://docs.salebot.app/",
        "options": {},
        "toolDescription": "If you have any problems with salebot or if someone has any questions, please search this tool.\nAnd if someone wants salebot documentation, give them this documentation link or the specific link for this product."
      },
      "typeVersion": 4.2
    },
    {
      "id": "70f12f0e-27fd-4093-a28d-4124862c61fa",
      "name": "delix",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        1376,
        320
      ],
      "parameters": {
        "url": "https://docs.delix.cloud/ ",
        "options": {},
        "toolDescription": "If you have any problems with delix or if someone has any questions, please search this tool.\nAnd if someone wants delix documentation, give them this documentation link or the specific link for this product."
      },
      "typeVersion": 4.2
    },
    {
      "id": "c3f5c0dc-8221-4188-8a01-78b0c2ee44d1",
      "name": "socialvibe",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        1472,
        320
      ],
      "parameters": {
        "url": "https://socialvibe.spagreen.net/docs/",
        "options": {},
        "toolDescription": "If you have any problems with socialvibe or if someone has any questions, please search this tool.\nAnd if someone wants socialvibe documentation, give them this documentation link or the specific link for this product."
      },
      "typeVersion": 4.2
    },
    {
      "id": "e47b6f21-2d4c-401f-8d3e-7a883942a6a7",
      "name": "faculty",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        1568,
        320
      ],
      "parameters": {
        "url": "https://faculty.spagreen.net/docs/",
        "options": {},
        "toolDescription": "If you have any problems with faculty or if someone has any questions, please search this tool.\nAnd if someone wants faculty documentation, give them this documentation link or the specific link for this product."
      },
      "typeVersion": 4.2
    },
    {
      "id": "fed9e425-9bee-4dd6-9241-fdcb351eb72a",
      "name": "yoori",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        1664,
        320
      ],
      "parameters": {
        "url": "https://docs.spagreen.net/docs/yoori/get-started/introduction",
        "options": {},
        "toolDescription": "If you have any problems with yoori or anyone has any questions, please search this tool.\nAnd if someone wants yoori documentation, give them this documentation link or the specific link for this product."
      },
      "typeVersion": 4.2
    },
    {
      "id": "ca36ccc3-84ce-46f5-b15a-e5c27f355828",
      "name": "meetair",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        1760,
        320
      ],
      "parameters": {
        "url": "https://meetair.spagreen.net/docs/",
        "options": {},
        "toolDescription": "If you have any problems with meetair or anyone has any questions, please search this tool.\nAnd if someone wants meetair documentation, give them this documentation link or the specific link for this product."
      },
      "typeVersion": 4.2
    },
    {
      "id": "95cec829-f40b-4fc6-afa7-31e7de962d5b",
      "name": "oxoo",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        1856,
        320
      ],
      "parameters": {
        "url": "https://oxoo.spagreen.net/documentation/android/",
        "options": {},
        "toolDescription": "If you have any problems with oxoo or anyone has any questions, please search this tool.\nAnd if someone wants oxoo documentation, give them this documentation link or the specific link for this product."
      },
      "typeVersion": 4.2
    },
    {
      "id": "3ccc9c71-eda8-4892-8f09-ff8a7e5a5368",
      "name": "flixoo",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        1952,
        320
      ],
      "parameters": {
        "url": "https://docs.flixoo.app/",
        "options": {},
        "toolDescription": "If you have any problems with flixoo or anyone has any questions, please search this tool.\nAnd if someone wants flixoo documentation, give them this documentation link or the specific link for this product."
      },
      "typeVersion": 4.2
    },
    {
      "id": "e5f64930-bad3-41af-abc9-5b52611f0692",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        304
      ],
      "parameters": {
        "width": 864,
        "height": 240,
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n## your product online documentations"
      },
      "typeVersion": 1
    },
    {
      "id": "01698460-4306-496b-b4fa-f77a903683a3",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        304
      ],
      "parameters": {
        "width": 464,
        "height": 240,
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n## your product details on sheet"
      },
      "typeVersion": 1
    },
    {
      "id": "dd5f17af-97bf-434a-aa31-4a2c2c1a901d",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        800,
        -16
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "fb29c93b-4dfc-4d97-91ac-c427f5d042fd",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        592,
        320
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "38b2c2a2-c7e1-4d12-82e9-29ddd23a6185",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        -448
      ],
      "parameters": {
        "width": 352,
        "height": 304,
        "content": "### replay the user on WhatsApp using Rapiwa API\n\ninstall process: [how to install rapiwa](https://www.npmjs.com/package/n8n-nodes-rapiwa)"
      },
      "typeVersion": 1
    },
    {
      "id": "0e37702c-03b7-4976-bf1f-00667e31ee9e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -480
      ],
      "parameters": {
        "width": 448,
        "height": 336,
        "content": "### Rapiwa Trigger node starts (triggers) the workflow when something happens in your Rapiwa account — for example, when a new event, webhook, or update is received.\n\ninstall process: [how to install rapiwa](https://www.npmjs.com/package/n8n-nodes-rapiwa)"
      },
      "typeVersion": 1
    },
    {
      "id": "1985f4e3-bfb6-4359-9291-144a410d0428",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        -384
      ],
      "parameters": {
        "width": 304,
        "height": 240,
        "content": "### It's check text or image/docs/video/audio"
      },
      "typeVersion": 1
    },
    {
      "id": "14c57ae0-327f-4f72-8052-be04e69013c9",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        -96
      ],
      "parameters": {
        "width": 480,
        "height": 192,
        "content": "This “Research” node is an AI support tool used by the Rapiwa assistant inside n8n.\nIt helps the assistant find information, handle customer issues, and prepare WhatsApp-ready responses, all while keeping data sources (like Google Sheets or Docs) hidden from users"
      },
      "typeVersion": 1
    },
    {
      "id": "97af25e7-7ff5-4eb5-aadb-a5e627debdb8",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        -400
      ],
      "parameters": {
        "width": 592,
        "height": 272,
        "content": "It listens for chat messages, understands customer issues, retrieves information (from Sheets or Docs), and responds in a WhatsApp-ready format, while also logging interactions automatically"
      },
      "typeVersion": 1
    },
    {
      "id": "62767435-d41e-4189-856b-88e57c9b281d",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        -480
      ],
      "parameters": {
        "width": 976,
        "height": 1776,
        "content": "# WhatsApp AI HelpDesk – Smart SupportBot Using Trained Data with Rapiwa\n\n**Overview:**\nThis workflow is designed to automate customer interactions on WhatsApp using an intelligent AI assistant called **Rapiwa**. It is ideal for **customer support teams**, **business owners**, and **service providers** who want to provide instant, personalized, and AI-driven responses while managing support data efficiently.\n\n\n### Key Features\n* **AI-Powered Support:** Rapiwa interprets customer queries and replies in human-like, WhatsApp-friendly text.\n* **WhatsApp Integration:** Uses Rapiwa API to send and receive messages in real time.\n* **Dynamic Data Access:** Fetches product, service, and documentation details from **Google Sheets** and **Google Docs**.\n* **Knowledge Base Search:** Retrieves relevant info from connected support documentation and product portals.\n* **Session Memory:** Remembers past conversations per user for contextual replies.\n* **Automatic Logging:** Records issues and responses in Google Sheets for analysis.\n* **Multi-Product Support:** Handles queries across multiple products and services.\n\n\n### Workflow Overview\n1. **Rapiwa Trigger (Start Node)**\n   * Activates when a new WhatsApp message is received.\n   * Example: Messages like “Price of SocialVibe?” or “I can’t access my dashboard.”\n   * install process: [how to install rapiwa](https://www.npmjs.com/package/n8n-nodes-rapiwa)\n\n2. **If (Check Text)**\n\n   * Confirms the message contains text.\n   * Non-text messages are either stopped or handled differently.\n\n3. **AI Agent – Customer Support Agent**\n\n   * Core logic of the workflow.\n   * Reads product/service info from Google Sheets/Docs and external support docs.\n   * Generates WhatsApp-ready responses.\n   * Logs customer issues for tracking.\n\n4. **Memory (Session Context)**\n\n   * Stores chat history for context-aware interactions.\n\n5. **Research (AI Support Tool)**\n\n   * Gathers additional info from Sheets, Docs, HTTP tools, and support desk portals.\n\n6. **Replay (Rapiwa Send Message)**\n   * Sends the AI-generated message back to the customer via WhatsApp API.\n   * install process: [how to install rapiwa](https://www.npmjs.com/package/n8n-nodes-rapiwa)\n\n\n### Data & Integrations\n* **Google Sheets:**\n  * Product Data Sheet: Names, descriptions, pricing.\n  * Service Data Sheet: Offered services details.\n  * Support Log Sheet: Issue tracking and resolution.\n\n* **Google Docs:** Company info and documentation references.\n* **Support Portals & Documentation:**\n  * [SaleBot](https://docs.salebot.app/)\n  * [Delix](https://docs.delix.cloud/)\n  * [SocialVibe](https://socialvibe.spagreen.net/docs/)\n  * [Faculty](https://faculty.spagreen.net/docs/)\n  * [Yoori](https://docs.spagreen.net/docs/yoori/get-started/introduction)\n  * [MeetAir](https://meetair.spagreen.net/docs/)\n  * [Oxoo](https://oxoo.spagreen.net/documentation/android/)\n  * [Flixoo](https://docs.flixoo.app/)\n\n\n## Useful Links\n- **install process:** [how to install rapiwa](https://www.npmjs.com/package/n8n-nodes-rapiwa)\n- **Dashboard:** [https://app.rapiwa.com](https://app.rapiwa.com/login)\n- **Official Website:** [https://rapiwa.com](https://rapiwa.com/)\n- **Documentation:** [https://docs.rapiwa.com](https://docs.rapiwa.com/)\n\n## Support & Help\n- **WhatsApp**: [Chat on WhatsApp](https://wa.me/8801322827799)\n- **Discord**: [SpaGreen Community](https://discord.gg/SsCChWEP)\n- **Facebook Group**: [SpaGreen Support](https://www.facebook.com/groups/spagreenbd)\n- **Website**: [https://spagreen.net](https://spagreen.net)\n- **Developer Portfolio**: [Codecanyon SpaGreen](https://codecanyon.net/user/spagreen/portfolio)\n"
      },
      "typeVersion": 1
    },
    {
      "id": "4d6386c3-3688-4dc6-8e4d-2313c2ddb5c2",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        224
      ],
      "parameters": {
        "color": 7,
        "width": 864,
        "height": 80,
        "content": "# Exapmple product link"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Docs": {
      "ai_tool": [
        [
          {
            "node": "Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "oxoo": {
      "ai_tool": [
        [
          {
            "node": "Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent -  Customer Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "delix": {
      "ai_tool": [
        [
          {
            "node": "Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "yoori": {
      "ai_tool": [
        [
          {
            "node": "Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent -  Customer Support Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent -  Customer Support Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "flixoo": {
      "ai_tool": [
        [
          {
            "node": "Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "ai_languageModel": [
        [
          {
            "node": "Research",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "faculty": {
      "ai_tool": [
        [
          {
            "node": "Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "meetair": {
      "ai_tool": [
        [
          {
            "node": "Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "salebot": {
      "ai_tool": [
        [
          {
            "node": "Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research": {
      "ai_tool": [
        [
          {
            "node": "AI Agent -  Customer Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "socialvibe": {
      "ai_tool": [
        [
          {
            "node": "Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Read Product": {
      "ai_tool": [
        [
          {
            "node": "Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Read Service": {
      "ai_tool": [
        [
          {
            "node": "Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Support Desk": {
      "ai_tool": [
        [
          {
            "node": "Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Rapiwa Trigger": {
      "main": [
        [
          {
            "node": "If (check text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If (check text)": {
      "main": [
        [
          {
            "node": "AI Agent -  Customer Support Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Customer Issues": {
      "ai_tool": [
        [
          {
            "node": "Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Read Company Information": {
      "ai_tool": [
        [
          {
            "node": "Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent -  Customer Support Agent": {
      "main": [
        [
          {
            "node": "Replay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "10716"
}