public/workflows/10726_Lusha_to_Easy_Redmine_CRM__Automated_Lead_Enrichment.json
{
  "id": "eQzOs9m16iChJlIU",
  "meta": {
    "name": "Lusha to Easy Redmine CRM: Automated Lead Enrichment",
    "id": 10726
  },
  "name": "Lusha leads enrichment to CRM via HTTP request",
  "tags": [],
  "nodes": [
    {
      "id": "64bcf660-17b1-4ba2-96a3-1fe321f5afa2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        2320,
        1600
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "9f07a54e-1787-4103-b64f-5342259e4f04",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        2720,
        1600
      ],
      "parameters": {
        "options": {},
        "fieldToSplitOut": "easy_leads"
      },
      "typeVersion": 1
    },
    {
      "id": "db14814d-893b-4ece-9e8b-95e751d2ea41",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        1184
      ],
      "parameters": {
        "width": 768,
        "height": 992,
        "content": "## Automated Lead Enrichment from Lusha to Easy Redmine CRM  \n**Try out using a native Easy Redmine node to enrich CRM lead data with Lusha fields.**\n\n### About Workflow  \nThis workflow fetches enriched Leads data from Lusha, cleans and formats it, and pushes it to Easy Redmine CRM. It is triggered on a schedule and runs fully automated once set up.\n\n### Use Case  \nDesigned for sales and marketing teams using Easy Redmine CRM. It automates the update of Leads with enriched Lusha data—saving manual effort and ensuring updated info like phone, employee count, and LinkedIn.\n\n### How it works  \n- Time-based trigger  \n=> Runs on a schedule defined in Schedule Trigger  \n- Data fetch  \n=> Pulls lead data using “get-many-easy_leads”  \n- Split Out\n=> Splits array → filters empty phone rows → transforms employee count (e.g., \"1,000-5,000\" → 5000)  \n- HTTP Request \n=> Gets GET information from Lusha  \n- Final output step  \n=> Sends PUT requests to Easy Redmine CRM to update lead records\n\n### How to use  \n- Set the **Schedule Trigger** to define how often the workflow should run  \n- In the **\"Get Leads from Easy Redmine\"** node, apply a saved filter in Easy Redmine to target the correct lead records  (ID Query)\n- Ensure the Lusha API connection is working and returns enriched data for the selected leads  \n- Adjust the **\"Contact Data Transformation for CRM\"** node to clean and map fields as needed—e.g., format employee numbers, remove unwanted characters, or align with CRM field structure  \n- Run tests on a small data sample to confirm that updates are correctly applied in Easy Redmine CRM before enabling full automation\n\n\n### Requirements  \n- Easy Redmine application\n=> ideally technical user for API calls with specific permissions\n- Lusha access \n\n### Need Help? \n- Reach out through n8n community => https://community.n8n.io/u/easy8.ai\n- Contant our team directly => Easy8.ai\n- Visit our youtube channel => https://www.youtube.com/@easy8ai \n "
      },
      "typeVersion": 1
    },
    {
      "id": "3c475d49-9cfb-49a4-b418-bbf43576df5e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2256,
        1184
      ],
      "parameters": {
        "color": 7,
        "width": 1520,
        "height": 992,
        "content": "##  Automated Lead Enrichment from Lusha to Easy Redmine CRM  \n**1) Schedule Trigger** — Triggers the workflow on a time-based schedule  \n**2) Get Leads from Easy Redmine** — Fetches multiple lead records from Easy Redmine for one day (Today)\n**3) Split Out** — Splits the fetched data into individual items for processing  \n**4) Get Data from Lusha** — Retrieves data from Lusha via HTTP request  \n**5) Filter Leads Found in Lusha** — Excludes rows where the data field is empty  \n**6) Contact Data Transformation for CRM** — Transforms and cleans the data fields\n**7) Update Leads in Easy Redmine CRM** — Sends updated contact and company info (phone, employees, LinkedIn) to Easy Redmine CRM  "
      },
      "typeVersion": 1
    },
    {
      "id": "e6b7297c-8f65-4e8b-9d81-ffaa28017d74",
      "name": "Get Leads from Easy Redmine",
      "type": "@easysoftware/n8n-nodes-easy-redmine.easyRedmine",
      "position": [
        2528,
        1600
      ],
      "parameters": {
        "resource": "easy_leads",
        "leadQueryId": 1234
      },
      "credentials": {
        "easyRedmineApi": {
          "id": "abcd1234efgh",
          "name": "Easy Redmine Credentials "
        }
      },
      "typeVersion": 1
    },
    {
      "id": "e4292044-5c3e-4bd1-9b33-80c2ddc81c9a",
      "name": "Get Data from Lusha",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2928,
        1600
      ],
      "parameters": {
        "url": "https://api.lusha.com/v2/person",
        "options": {},
        "sendQuery": true,
        "sendHeaders": true,
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "filterBy",
              "value": "emailAddresses"
            },
            {
              "name": "firstName",
              "value": "={{ $json.first_name }}"
            },
            {
              "name": "lastName",
              "value": "={{ $json.last_name }}"
            },
            {
              "name": "companyName",
              "value": "={{ $json.company_name }}"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "abcd1234efgh",
          "name": "Lusha Credentials"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "e55c7ac2-67fa-4269-bcf6-196cec1dc5b9",
      "name": "Filter Leads Found in Lusha",
      "type": "n8n-nodes-base.filter",
      "position": [
        3152,
        1600
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "966c411e-a5ea-4409-989e-ae6295c78d16",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.contact.error.name }}",
              "rightValue": "={{ $json.contact.error.name }}"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "b94f1bda-97c6-4608-a748-61c117bf952b",
      "name": "Contact Data Transformation for CRM",
      "type": "n8n-nodes-base.code",
      "position": [
        3376,
        1600
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst transformedItems = items.map((item) => {\n  const contact = item.json.contact;\n  \n  // Skip if there's an error\n  if (contact.error) {\n    return {\n      json: {\n        error: contact.error,\n        isCreditCharged: contact.isCreditCharged\n      }\n    };\n  }\n  \n  const data = contact.data;\n  \n  // Transform company size array [min, max] to just the max number\n  let companySize = null;\n  if (data.company?.companySize && Array.isArray(data.company.companySize)) {\n    companySize = data.company.companySize[1]; // Take the upper bound\n  }\n  \n  // Transform revenue range array [min, max] to just the max number\n  let revenueRange = null;\n  if (data.company?.revenueRange && Array.isArray(data.company.revenueRange)) {\n    revenueRange = data.company.revenueRange[1]; // Take the upper bound\n  }\n  \n  // Extract primary email (first in array)\n  const primaryEmail = data.emailAddresses?.[0]?.email || null;\n  const primaryEmailType = data.emailAddresses?.[0]?.emailType || null;\n  const primaryEmailConfidence = data.emailAddresses?.[0]?.emailConfidence || null;\n  \n  // Extract primary phone (first in array)\n  const primaryPhone = data.phoneNumbers?.[0]?.number || null;\n  const primaryPhoneType = data.phoneNumbers?.[0]?.phoneType || null;\n  \n  // Extract secondary phone (second in array)\n  const secondaryPhone = data.phoneNumbers?.[1]?.number || null;\n  const secondaryPhoneType = data.phoneNumbers?.[1]?.phoneType || null;\n  \n  // Build flattened object for CRM\n  return {\n    json: {\n      // Person Info\n      firstName: data.firstName || null,\n      lastName: data.lastName || null,\n      fullName: data.fullName || null,\n      personId: data.personId || null,\n      \n      // Contact Details\n      email: primaryEmail,\n      emailType: primaryEmailType,\n      emailConfidence: primaryEmailConfidence,\n      phone: primaryPhone,\n      phoneType: primaryPhoneType,\n      secondaryPhone: secondaryPhone,\n      secondaryPhoneType: secondaryPhoneType,\n      linkedinUrl: data.socialLinks?.linkedin || null,\n      \n      // Job Info\n      jobTitle: data.jobTitle?.title || null,\n      jobDepartment: data.jobTitle?.departments?.[0] || null,\n      jobSeniority: data.jobTitle?.seniority || null,\n      jobStartDate: data.jobStartDate || null,\n      \n      // Location\n      country: data.location?.country || null,\n      countryIso2: data.location?.country_iso2 || null,\n      city: data.location?.city || null,\n      continent: data.location?.continent || null,\n      isEuContact: data.location?.is_eu_contact || false,\n      \n      // Company Info\n      companyName: data.company?.name || null,\n      companyId: data.companyId || null,\n      companyDomain: data.company?.domains?.homepage || null,\n      companyWebsite: data.company?.homepageUrl || null,\n      companyDescription: data.company?.description || null,\n      companySize: companySize,\n      companyRevenue: revenueRange,\n      companyIndustry: data.company?.mainIndustry || null,\n      companySubIndustry: data.company?.subIndustry || null,\n      companyCity: data.company?.location?.city || null,\n      companyCountry: data.company?.location?.country || null,\n      companyLinkedin: data.company?.social?.linkedin || null,\n      companyLogoUrl: data.company?.logoUrl || null,\n      \n      // Previous Job Info\n      previousCompanyName: data.previousJob?.company?.name || null,\n      previousCompanyDomain: data.previousJob?.company?.domain || null,\n      previousJobTitle: data.previousJob?.jobTitle?.title || null,\n      \n      // Meta\n      isCreditCharged: contact.isCreditCharged,\n      updateDate: data.updateDate || null\n    }\n  };\n});\n\nreturn transformedItems;"
      },
      "typeVersion": 2
    },
    {
      "id": "7440feb7-fa9b-4894-ae46-105c9e47cdfb",
      "name": "Update Leads in Easy Redmine CRM",
      "type": "n8n-nodes-base.httpRequest",
      "notes": "https://easy-redmine-application.com/easy_leads/{{ $json.ID }}.json\n\nhttps://easy-redmine-application.com/easy_leads/826711.json\n\n{\n  \"easy_lead\": {\n    \"mobile_phone\": \"{{ $json['Mobile phone'] }}\",\n    \"number_of_employees\": 0\n  }\n}",
      "position": [
        3600,
        1600
      ],
      "parameters": {
        "url": "=https://easy-redmine-application.com/easy_leads/{{ $('Split Out').item.json.id }}.json",
        "method": "PUT",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        },
        "jsonBody": "={\n  \"easy_lead\": {\n    \"mobile_phone\": {{ $json.phone ? JSON.stringify($json.phone) : '\"\"' }},\n    \"number_of_employees\": {{ $json.companySize != null ? $json.companySize : 0 }},\n    \"custom_fields\": [\n      {\n        \"id\": 737,\n        \"value\": {{ $json.linkedinUrl ? JSON.stringify($json.linkedinUrl) : null }}\n      }\n    ]\n  }\n}",
        "sendBody": true,
        "specifyBody": "json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "abcd1234efgh",
          "name": "Easy Redmine Credentials"
        }
      },
      "typeVersion": 4.2
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4f77d42f-5818-4773-854d-fa0252ba0262",
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Get Data from Lusha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Leads from Easy Redmine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data from Lusha": {
      "main": [
        [
          {
            "node": "Filter Leads Found in Lusha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Leads Found in Lusha": {
      "main": [
        [
          {
            "node": "Contact Data Transformation for CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Leads from Easy Redmine": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Data Transformation for CRM": {
      "main": [
        [
          {
            "node": "Update Leads in Easy Redmine CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}