public/workflows/10725_Collect_API_User_Data_and_Store_in_Google_Sheets_with_CSV_backup.json
{
  "meta": {
    "name": "Collect API User Data and Store in Google Sheets with CSV backup",
    "id": 10725
  },
  "nodes": [
    {
      "id": "6db177f3-d001-4f14-b1eb-cb61a78acf0b",
      "name": "Start Workflow Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        48,
        672
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "bd75fa5c-cdbc-41e6-bb85-16f7e677f8f8",
      "name": "Fetch User Data from API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        272,
        672
      ],
      "parameters": {
        "url": "={{ $env.BASE_URL }}",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "f193bb20-baa5-482a-aab3-bb37f884d1aa",
      "name": "Verify API Response Success",
      "type": "n8n-nodes-base.if",
      "position": [
        496,
        672
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"statusCode\"]}}",
              "value2": 200,
              "operation": "equal"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "b9d06596-07ff-4214-a446-30522c516372",
      "name": "Transform API Data to Name and Country",
      "type": "n8n-nodes-base.function",
      "position": [
        752,
        672
      ],
      "parameters": {
        "functionCode": "return $json.results.map(user => {\n  return {\n    name: `${user.name.first} ${user.name.last}`,\n    country: user.location.country\n  };\n});"
      },
      "typeVersion": 1
    },
    {
      "id": "0ad2fa3d-3280-490f-95de-cee3ea18acc7",
      "name": "Append Data to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        976,
        672
      ],
      "parameters": {
        "range": "A:B",
        "options": {
          "valueInputMode": "RAW",
          "usePathForKeyRow": true
        },
        "sheetId": "={{ $env.GOOGLE_SHEET_ID }}",
        "operation": "append",
        "authentication": "oAuth2"
      },
      "typeVersion": 1
    },
    {
      "id": "6d41aadd-d40b-4575-b336-853027a82669",
      "name": "Create CSV Backup File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        1200,
        672
      ],
      "parameters": {
        "options": {
          "fileName": "users_backup_export"
        },
        "operation": "toFile",
        "fileFormat": "csv"
      },
      "typeVersion": 1
    },
    {
      "id": "61f16acf-e6ac-4883-8dbe-f23d1c8d6b9e",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "parameters": {
        "height": 624,
        "content": "## 📘 Collect API User Data and Store in Google Sheets with CSV Backup\n\n### Who's it for\nIdeal for teams and individuals who need to automatically fetch user data from APIs and store it in Google Sheets for easy collaboration, with an additional CSV backup for external integrations or offline access.\n\n### How it works\nThis workflow fetches user data from an external API (like RandomUser API), validates the response, formats the data into name and country fields, then saves it to both Google Sheets and generates a CSV file backup. Built-in error handling ensures failed API calls don't process invalid data.\n\n### Requirements\n- Google Sheets OAuth2 credentials\n- API endpoint that returns user data (see expected format below)\n- Environment variables: `BASE_URL` and `GOOGLE_SHEET_ID`\n\n### Expected API Response Format\nYour API should return JSON in this structure:\n```json\n{\n  \"results\": [\n    {\n      \"name\": {\n        \"first\": \"John\",\n        \"last\": \"Doe\"\n      },\n      \"location\": {\n        \"country\": \"United States\"\n      }\n    },\n    {\n      \"name\": {\n        \"first\": \"Jane\",\n        \"last\": \"Smith\"\n      },\n      \"location\": {\n        \"country\": \"Canada\"\n      }\n    }\n  ]\n}\n```\n\n### Google Sheet Structure\nYour sheet will be populated with two columns:\n\n| Name (Column A) | Country (Column B) |\n|-----------------|--------------------|\n| John Doe        | United States      |\n| Jane Smith      | Canada             |\n| Maria Garcia    | Spain              |\n\n### How to customize\n- **Change data fields:** Modify the \"Transform API Data\" function to extract different fields from your API response\n- **Add more columns:** Update the function to return additional fields and adjust the Google Sheets range (e.g., `A:D` for 4 columns)\n- **Schedule execution:** Replace the manual trigger with a Cron trigger to run automatically (hourly, daily, etc.)\n- **Filter data:** Add an IF node after formatting to include only specific records\n- **Add data validation:** Include additional checks in the transform function to handle missing fields\n\n### Benefits\n- Automated API data collection with zero manual effort\n- Real-time Google Sheets updates for team collaboration\n- CSV backup for offline access or system integrations\n- Built-in error handling prevents bad data from being saved\n- Easily extendable to other APIs with similar JSON structures\n- Production-ready with proper credential management\n"
      },
      "typeVersion": 1
    },
    {
      "id": "69e49ede-d0fe-4a70-9320-36c8e17e3018",
      "name": "Stop on API Failure",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        752,
        848
      ],
      "parameters": {
        "errorMessage": "API request failed — status code not 200. Workflow stopped."
      },
      "typeVersion": 1
    },
    {
      "id": "2d01307d-a506-4e03-a364-22cbaeb05e3a",
      "name": "Step 1 - Trigger",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        0
      ],
      "parameters": {
        "height": 208,
        "content": "## 🚀 Step 1: Start\n\nClick \"Execute Workflow\" to manually trigger the data collection process.\n\nYou can replace this with a **Cron** or **Webhook** trigger for automation."
      },
      "typeVersion": 1
    },
    {
      "id": "0a1daf1e-68a7-47fa-9281-07c74703dafa",
      "name": "Step 2 - API Request",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        0
      ],
      "parameters": {
        "height": 320,
        "content": "## 🔌 Step 2: Fetch API Data\n\nRetrieves user data from your configured API endpoint (`BASE_URL`).\n\n⚠️ **Action Required:** Set the `BASE_URL` environment variable to your API endpoint.\n\n**Example:** `https://randomuser.me/api/?results=10`"
      },
      "typeVersion": 1
    },
    {
      "id": "c85e3f8a-0e99-48a8-98ad-428675dcddab",
      "name": "Step 3 - Validation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        0
      ],
      "parameters": {
        "height": 336,
        "content": "## ✅ Step 3: Validate Response\n\nChecks if the API returned a successful response (HTTP 200).\n\n- **Success (200):** Continues to data formatting\n- **Failure (non-200):** Stops workflow and shows error message\n\nThis prevents invalid data from being saved."
      },
      "typeVersion": 1
    },
    {
      "id": "8a2d226c-f612-4dbe-baf5-b7ffbeef7fb7",
      "name": "Step 4 - Transform",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        0
      ],
      "parameters": {
        "height": 464,
        "content": "## 🔄 Step 4: Transform Data\n\nExtracts and formats user data from the API response.\n\n**Input:** Raw API JSON\n**Output:** Simplified objects with `name` and `country` fields\n\n```javascript\n{\n  name: \"John Doe\",\n  country: \"United States\"\n}\n```\n\nCustomize this function to extract different fields from your API."
      },
      "typeVersion": 1
    },
    {
      "id": "8759aba8-51d3-4168-9e1a-d38fa1a4f651",
      "name": "Step 5 - Google Sheets",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        0
      ],
      "parameters": {
        "height": 464,
        "content": "## 📊 Step 5: Save to Google Sheets\n\nAppends formatted data to your Google Sheet (columns A and B).\n\n⚠️ **Action Required:**\n1. Set `GOOGLE_SHEET_ID` environment variable\n2. Configure Google Sheets OAuth2 credentials\n3. Ensure your sheet has \"Name\" and \"Country\" headers in row 1\n\n**Sheet Structure:**\n| Name | Country |\n|------|------|\n| John Doe | USA |"
      },
      "typeVersion": 1
    },
    {
      "id": "ac87e4f5-0cf3-44f3-bbbb-023cd408cacd",
      "name": "Step 6 - CSV Backup",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1536,
        48
      ],
      "parameters": {
        "height": 352,
        "content": "## 💾 Step 6: Create CSV Backup\n\nGenerates a CSV file (`users_backup_export.csv`) containing the same data.\n\nThis file can be:\n- Downloaded for offline use\n- Sent via email\n- Uploaded to cloud storage\n- Used in other integrations\n\nNo configuration needed - works automatically!"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Start Workflow Manually": {
      "main": [
        [
          {
            "node": "Fetch User Data from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch User Data from API": {
      "main": [
        [
          {
            "node": "Verify API Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify API Response Success": {
      "main": [
        [
          {
            "node": "Transform API Data to Name and Country",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop on API Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Data to Google Sheets": {
      "main": [
        [
          {
            "node": "Create CSV Backup File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform API Data to Name and Country": {
      "main": [
        [
          {
            "node": "Append Data to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "10725"
}