public/workflows/10755_Simple_error_workflow.json
{
  "id": "OdGpgcdmoUXIdQ69",
  "meta": {
    "name": "Simple error workflow",
    "id": 10755
  },
  "name": "my_errorwf_template",
  "tags": [],
  "nodes": [
    {
      "id": "a65c95d8-2ae6-4c71-8a60-850c98d1cac3",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        -352,
        -96
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "2832fe74-c5a3-4504-8345-5e9b0c9f1caf",
      "name": "Alert on Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        448,
        -96
      ],
      "webhookId": "70dbeda9-a751-40e9-8036-cfbdf31ed366",
      "parameters": {
        "options": {},
        "subject": "={{ $json.message }}"
      },
      "typeVersion": 2.1
    },
    {
      "id": "f433fd2a-5b2b-4935-b779-b95c64e056ff",
      "name": "Alert on slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        448,
        112
      ],
      "webhookId": "82ae5db9-4695-4749-aa94-b9e771b7d095",
      "parameters": {
        "otherOptions": {}
      },
      "typeVersion": 2.3
    },
    {
      "id": "147fb3bd-10e7-4e36-b551-2eb4a76064f9",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        -192
      ],
      "parameters": {
        "color": 7,
        "width": 408,
        "height": 667,
        "content": "### Connect the tool where you want to be alerted in \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n"
      },
      "typeVersion": 1
    },
    {
      "id": "cabfd919-a0c3-4e5e-86d2-86ad3acb3eed",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -192
      ],
      "parameters": {
        "color": 7,
        "width": 368,
        "height": 272,
        "content": "### Edit the error message"
      },
      "typeVersion": 1
    },
    {
      "id": "92183cdb-4a29-411a-8ba5-2d0f17365c6a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        -208
      ],
      "parameters": {
        "width": 400,
        "height": 336,
        "content": "## Error workflow alert\nThis workflow sends an alert to the channel of your choice when an execution fails.\n\n### How to use\n☑️  Connect the tool where you want alerts to be sent\n\n☑️  Turn on error notification in the workflows you want to monitor\n\n### Help\nStep-by-step [tutorial](https://www.youtube.com/watch?v=bTF3tACqPRU)"
      },
      "typeVersion": 1
    },
    {
      "id": "8a1e904c-f89a-40b8-8685-10e3b1aba9ea",
      "name": "Set error message",
      "type": "n8n-nodes-base.set",
      "position": [
        0,
        -96
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "=⚠️ Workflow `{{$json[\"workflow\"][\"name\"]}}` failed to run! [execution]({{ $json.execution.url }})"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "id": "3ebaf336-58b4-4d4b-83b7-422ccbaf591e",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        304
      ],
      "parameters": {
        "color": 7,
        "width": 150,
        "height": 112,
        "content": "Or pick a different node ..."
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4b1dcc03-201e-4511-992d-9bc59fb92139",
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Set error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set error message": {
      "main": [
        [
          {
            "node": "Alert on Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}